.past-concerts__footer {
  position: relative;
  width: 100%;
  overflow: hidden;
  aspect-ratio: 3 / 1.2;
  background-color: var(--color-page);
  box-shadow: inset 0 12px 24px -8px rgb(0 0 0 / 15%);
}

.past-concerts__footer-image-wrap {
  --parallax-y: 0px;
  position: absolute;
  left: 0;
  right: 0;
  top: -80px;
  height: calc(100% + 160px);
  will-change: transform;
  transform: translate3d(0, var(--parallax-y), 0);
}

.past-concerts__footer-image {
  opacity: 0.3;
  width: 100%;
  height: 100%;
  display: block;
  object-fit: cover;
  object-position: center center;
  transform: translateY(-70px);
}
